<h1><%= @task.title %></h1>
<%= link_to "Return to list", tasks_path %>
<br>
<%= link_to "Delete #{@task.title}", task_path(@task), method: :delete, data: { confirm: "Are you sure sure?" } %>
<br>
<%= link_to "Edit #{@task.title}", edit_task_path(@task) %>
